  <%= stylesheet_link_tag "devise" %>

  <div class="row">
      <div class="column column-65">
  <p style="font-size: 48px; font-weight: bold; text-align:center; margin-bottom: 10px;">Join Linktree</p>
  <p style="font-size: 16px; text-align:center; color: grey;">Sign up for free!</p>
      <div class="form">


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field-input" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <!-- <em>(<%= @minimum_password_length %> characters minimum)</em> -->
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "field-input" %>
    </div>

  <div class="field">
      <%= f.label :password_confirmation, class: "field-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field-input" %>
  </div>


    <div class="actions">
      <%= f.submit "Create account", class:"button-1", style:"width: 70%;" %>
    </div>

  <% end %>
        <div style="text-align: center; margin-top: 10px; color: grey; font-size: 10px; width: 70%">By clicking Create account, you agree to Linktree's Terms and Conditions and confirm you have read our Privacy Notice.
    </div>


          <!-- Content for the first column goes here -->
      </div>
        <div style="text-align: center; margin-top: 10px;">
    <%= render "devise/shared/links" %>
    </div>
      </div>
      <div class="column column-35">
          <%#= image_tag("queen.svg", style:"width: 500px;")%>
          <!-- Content for the second column goes here -->
      </div>
  </div>